@use 'shared/styles' as *;

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	width: 100%;
	margin-top: 10px;

	.card {
		padding: 10px;
		text-align: center;
		background-color: $gray-light;
		border-radius: $radius;

		.image {
			height: 200px;
			aspect-ratio: 3 / 2;
			object-fit: cover;
			object-position: center;
			border-radius: $radius;
		}
	}
}
