@use 'shared/styles' as *;

.label {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;

	svg * {
		fill: $black;
	}

	&:hover {
		svg * {
			fill: $primary;
		}
	}

	&.checked {
		svg * {
			fill: $white;
		}
	}
}
